<a href="https://colab.research.google.com/github/lia07/DataCamp/blob/main/Cleaning_Data_in_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cleaning Data in **R**

# **1**

In [ ]:
Instructions 1/3
50 XP
1
2
3
Examine the data types of the columns of bike_share_rides.
Get a summary of the user_birth_year column of bike_share_rides.

# Glimpse at bike_share_rides
glimpse(bike_share_rides)

# Summary of user_birth_year
summary(bike_share_rides$user_birth_year)


Instructions 3/3
50 XP
3
Add a new column to bike_share_rides called user_birth_year_fct, which contains user_birth_year, converted to a factor.
Assert that the user_birth_year_fct is a factor to confirm the conversion.


# Glimpse at bike_share_rides
glimpse(bike_share_rides)

# Summary of user_birth_year
summary(bike_share_rides$user_birth_year)

# Convert user_birth_year to factor: user_birth_year_fct
bike_share_rides <- bike_share_rides %>%
  mutate(user_birth_year_fct = as.factor(user_birth_year))

# Assert user_birth_year_fct is a factor
assert_is_factor(bike_share_rides$user_birth_year_fct)

# Summary of user_birth_year_fct
summary(bike_share_rides$user_birth_year_fct)

In [ ]:
Instructions
100 XP
Use str_remove() to remove "minutes" from the duration column of bike_share_rides. Add this as a new column called duration_trimmed.
Convert the duration_trimmed column to a numeric type and add this as a new column called duration_mins.
Glimpse at bike_share_rides and assert that the duration_mins column is numeric.
Calculate the mean of duration_mins.


bike_share_rides <- bike_share_rides %>%
  # Remove 'minutes' from duration: duration_trimmed
  mutate(duration_trimmed = str_remove(duration, "minutes"),
         # Convert duration_trimmed to numeric: duration_mins
         duration_mins = as.numeric(duration_trimmed))

# Glimpse at bike_share_rides
glimpse(bike_share_rides)

# Assert duration_mins is numeric
assert_is_numeric(bike_share_rides$duration_mins)

# Calculate mean duration
mean(bike_share_rides$duration_mins)

In [ ]:
Instructions 1/2
50 XP
1
2
Create a three-bin histogram of the duration_min column of bike_share_rides using ggplot2 to identify if there is out-of-range data.

# Create breaks
breaks <- c(min(bike_share_rides$duration_min), 0, 1440, max(bike_share_rides$duration_min))

# Create a histogram of duration_min
ggplot(bike_share_rides, aes(duration_min)) +
  geom_histogram(breaks = breaks)


Instructions 2/2
50 XP
2
Replace the values of duration_min that are greater than 1440 minutes (24 hours) with 1440. Add this to bike_share_rides as a new column called duration_min_const.
Assert that all values of duration_min_const are between 0 and 1440.


# Create breaks
breaks <- c(min(bike_share_rides$duration_min), 0, 1440, max(bike_share_rides$duration_min))

# Create a histogram of duration_min
ggplot(bike_share_rides, aes(duration_min)) +
  geom_histogram(breaks = breaks)

# duration_min_const: replace vals of duration_min > 1440 with 1440
bike_share_rides <- bike_share_rides %>%
  mutate(duration_min_const = replace(duration_min, duration_min > 1440, 1440))

# Make sure all values of duration_min_const are between 0 and 1440
assert_all_are_in_closed_range(bike_share_rides$duration_min_const, lower = 0, upper = 1440)

In [ ]:
Instructions
100 XP
Convert the date column of bike_share_rides from character to the Date data type.
Assert that all values in the date column happened sometime in the past and not in the future.
Filter bike_share_rides to get only the rides from the past or today, and save this as bike_share_rides_past.
Assert that the dates in bike_share_rides_past occurred only in the past.


library(lubridate)
# Convert date to Date type
bike_share_rides <- bike_share_rides %>%
  mutate(date = as.Date(date))

# Make sure all dates are in the past
assert_all_are_in_past(bike_share_rides$date)

# Filter for rides that occurred before or on today's date
bike_share_rides_past <- bike_share_rides %>%
  filter(date <= today())

# Make sure all dates from bike_share_rides_past are in the past
assert_all_are_in_past(bike_share_rides_past$date)

In [ ]:
Instructions
100 XP
Convert the date column of bike_share_rides from character to the Date data type.
Assert that all values in the date column happened sometime in the past and not in the future.
Filter bike_share_rides to get only the rides from the past or today, and save this as bike_share_rides_past.
Assert that the dates in bike_share_rides_past occurred only in the past.


library(lubridate)
# Convert date to Date type
bike_share_rides <- bike_share_rides %>%
  mutate(date = as.Date(date))

# Make sure all dates are in the past
assert_all_are_in_past(bike_share_rides$date)

# Filter for rides that occurred before or on today's date
bike_share_rides_past <- bike_share_rides %>%
  filter(date <= today())

# Make sure all dates from bike_share_rides_past are in the past
assert_all_are_in_past(bike_share_rides_past$date)

In [ ]:
Instructions
100 XP
Convert the date column of bike_share_rides from character to the Date data type.
Assert that all values in the date column happened sometime in the past and not in the future.
Filter bike_share_rides to get only the rides from the past or today, and save this as bike_share_rides_past.
Assert that the dates in bike_share_rides_past occurred only in the past.


library(lubridate)
# Convert date to Date type
bike_share_rides <- bike_share_rides %>%
  mutate(date = as.Date(date))

# Make sure all dates are in the past
assert_all_are_in_past(bike_share_rides$date)

# Filter for rides that occurred before or on today's date
bike_share_rides_past <- bike_share_rides %>%
  filter(date <= today())

# Make sure all dates from bike_share_rides_past are in the past
assert_all_are_in_past(bike_share_rides_past$date)

In [ ]:
Instructions
100 XP
Get the total number of full duplicates in bike_share_rides.
Remove all full duplicates from bike_share_rides and save the new data frame as bike_share_rides_unique.
Get the total number of full duplicates in the new bike_share_rides_unique data frame.


# Count the number of full duplicates
sum(duplicated(bike_share_rides))

# Remove duplicates
bike_share_rides_unique <- distinct(bike_share_rides)

# Count the full duplicates in bike_share_rides_unique
sum(duplicated(bike_share_rides_unique))

In [ ]:
Instructions 1/3
35 XP
1
2
3
Count the number of occurrences of each ride_id.
Filter for ride_ids that occur multiple times.

# Find duplicated ride_ids
bike_share_rides %>% 
  # Count the number of occurrences of each ride_id
  count(ride_id) %>% 
  # Filter for rows with a count > 1
  filter(n > 1)


Instructions 2/3
35 XP
2
3
Remove full and partial duplicates from bike_share_rides based on ride_id only, keeping all columns.
Store this as bike_share_rides_unique.


# Find duplicated ride_ids
bike_share_rides %>% 
  count(ride_id) %>% 
  filter(n > 1)

# Remove full and partial duplicates
bike_share_rides_unique <- bike_share_rides %>%
  # Only based on ride_id instead of all cols
  distinct(ride_id, .keep_all = TRUE)


Instructions 3/3
30 XP
3
Find the duplicated ride_ids in bike_share_rides_unique.

# Find duplicated ride_ids
bike_share_rides %>% 
  count(ride_id) %>% 
  filter(n > 1)

# Remove full and partial duplicates
bike_share_rides_unique <- bike_share_rides %>%
  # Only based on ride_id instead of all cols
  distinct(ride_id, .keep_all = TRUE)

# Find duplicated ride_ids in bike_share_rides_unique
bike_share_rides_unique %>%
  # Count the number of occurrences of each ride_id
  count(ride_id) %>%
  # Filter for rows with a count > 1
  filter(n > 1)

# **2**

In [ ]:
Instructions
100 XP
Group bike_share_rides by ride_id and date.
Add a column called duration_min_avg that contains the mean ride duration for the row's ride_id and date.
Remove duplicates based on ride_id and date, keeping all columns of the data frame.
Remove the duration_min column.

bike_share_rides %>%
  # Group by ride_id and date
  group_by(ride_id, date) %>%
  # Add duration_min_avg column
  mutate(duration_min_avg = mean(duration_min)) %>%
  # Remove duplicates based on ride_id and date, keep all cols
  distinct(ride_id, date, .keep_all = TRUE) %>%
  # Remove duration_min column
  select(-duration_min)

In [ ]:
Instructions 3/4
50 XP
3
4
Use the correct type of filtering join on the sfo_survey data frame and the dest_sizes data frame to get the rows of sfo_survey with invalid dest_size values.
Get the id, airline, destination, and dest_size columns.


# Find bad dest_size rows
sfo_survey %>% 
  # Join with dest_sizes data frame to get bad dest_size rows
  anti_join(dest_sizes, by = "dest_size") %>%
  # Select id, airline, destination, and dest_size cols
  select(id, airline, destination, dest_size)


Instructions 4/4
50 XP
4
Use the correct filtering join on sfo_survey and dest_sizes to get the rows of sfo_survey that have a valid dest_size.
Count the number of times that each dest_size occurs to make sure there are no invalid values left behind.

# Remove bad dest_size rows
sfo_survey %>% 
  # Join with dest_sizes
  semi_join(dest_sizes, by = "dest_size") %>%
  # Count the number of each dest_size
  count(dest_size)

In [ ]:
Instructions 1/4
30 XP
1
2
3
4
Count the number of occurrences of each category of the dest_size variable of sfo_survey.

# Count dest_size
sfo_survey %>%
  count(dest_size)


Instructions 3/4
0 XP
4
Count the number of occurrences of each category of the cleanliness variable of sfo_survey.


# Count dest_size
sfo_survey %>%
  count(dest_size)

# Count cleanliness
sfo_survey %>%
  count(cleanliness)

In [ ]:
Instructions
100 XP
Add a column to sfo_survey called dest_size_trimmed that contains the values in the dest_size column with all leading and trailing whitespace removed.
Add another column called cleanliness_lower that contains the values in the cleanliness column converted to all lowercase.
Count the number of occurrences of each category in dest_size_trimmed.
Count the number of occurrences of each category in cleanliness_lower.

# Add new columns to sfo_survey
sfo_survey <- sfo_survey %>%
  # dest_size_trimmed: dest_size without whitespace
  mutate(dest_size_trimmed = str_trim(dest_size),
         # cleanliness_lower: cleanliness converted to lowercase
         cleanliness_lower = str_to_lower(cleanliness))

# Count values of dest_size_trimmed
sfo_survey %>%
  count(dest_size_trimmed)

# Count values of cleanliness_lower
sfo_survey %>%
  count(cleanliness_lower)

In [ ]:
Instructions 1/3
0 XP
1
2
3
Count the categories of dest_region.

# Count categories of dest_region
sfo_survey %>%
  count(dest_region)


Instructions 3/3
100 XP
3
Create a vector called europe_categories containing the three values of dest_region that need to be collapsed.
Add a new column to sfo_survey called dest_region_collapsed that contains the values from the dest_region column, except the categories stored in europe_categories should be collapsed to Europe.
Count the categories of dest_region_collapsed.

# Count categories of dest_region
sfo_survey %>%
  count(dest_region)

# Categories to map to Europe
europe_categories <- c("EU", "eur", "Europ")

# Add a new col dest_region_collapsed
sfo_survey %>%
  # Map all categories in europe_categories to Europe
  mutate(dest_region_collapsed = fct_collapse(dest_region, 
                                              Europe = europe_categories)) %>%
  # Count categories of dest_region_collapsed
  count(dest_region_collapsed)

In [ ]:
Instructions 1/2
50 XP
1
Filter for rows with phone numbers that contain "-"s.

# Filter for rows with "-" in the phone column
sfo_survey %>%
  filter(str_detect(phone, "-"))


Instructions 2/2
35 XP
Filter for rows with phone numbers that contain "-"s.
2
Filter for rows with phone numbers that contain "(", or ")". Remember to use fixed() when searching for parentheses.

# Filter for rows with "(" or ")" in the phone column
sfo_survey %>%
  filter(str_detect(phone, fixed("(")) | str_detect(phone, fixed(")")))

In [ ]:
Instructions 1/3
35 XP
1
2
3
Remove opening and closing parentheses from the phone column. Store this as a variable called phone_no_parens. Remember to use fixed()!

# Remove parentheses from phone column
phone_no_parens <- sfo_survey$phone %>%
  # Remove "("s
  str_remove_all(fixed("(")) %>%
  # Remove ")"s
  str_remove_all(fixed(")"))


Instructions 2/3
35 XP
2
3
Add a new column to sfo_survey called phone_no_parens that contains the contents of phone_no_parens.

# Remove parentheses from phone column
phone_no_parens <- sfo_survey$phone %>%
  # Remove "("s
  str_remove_all(fixed("(")) %>%
  # Remove ")"s
  str_remove_all(fixed(")"))

# Add phone_no_parens as column
sfo_survey %>%
  mutate(phone_no_parens = phone_no_parens)


Instructions 3/3
30 XP
3
Create a new column of sfo_survey called phone_clean containing the values of phone_no_parens with all hyphens replaced with spaces.

# Remove parentheses from phone column
phone_no_parens <- sfo_survey$phone %>%
  # Remove "("s
  str_remove_all(fixed("(")) %>%
  # Remove ")"s
  str_remove_all(fixed(")"))

# Add phone_no_parens as column
sfo_survey %>%
  mutate(phone_no_parens = phone_no_parens,
  # Replace all hyphens in phone_no_parens with spaces
         phone_clean = str_replace_all(phone_no_parens, "-", " "))

In [ ]:
Instructions
100 XP
Examine the invalid phone numbers by filtering for numbers whose length is not equal to 12.
Remove the rows with invalid numbers by filtering for numbers with a length of exactly 12.

# Check out the invalid numbers
sfo_survey %>%
  filter(str_length(phone) != 12)

# Remove rows with invalid numbers
sfo_survey %>%
  filter(str_length(phone) == 12)

# **3**

In [ ]:
Instructions 1/3
35 XP
1
2
3
Take a look at the head of accounts to get a sense of the data you're working with.

# Check out the accounts data frame
accounts

In [ ]:
Instructions 3/3
30 XP
3
Convert the dates in the date_opened column to the same format using the formats vector and store this as a new column called date_opened_clean.

# Check out the accounts data frame
head(accounts)

# Define the date formats
formats <- c("%Y-%m-%d", "%B %d, %Y")

# Convert dates to the same format
accounts %>%
  mutate(date_opened_clean = parse_date_time(date_opened, orders = formats))

In [ ]:
Instructions 1/4
20 XP
1
2
3
4
Create a scatter plot with date_opened on the x-axis and total on the y-axis.

# Scatter plot of opening date and total amount
accounts %>%
  ggplot(aes(x = date_opened, y = total)) +
  geom_point()

Instructions 2/4
20 XP
2
3
4
Left join accounts and account_offices by their id columns.


# Scatter plot of opening date and total amount
accounts %>%
  ggplot(aes(x = date_opened, y = total)) +
  geom_point()

# Left join accounts and account_offices by id
accounts %>%
  left_join(account_offices, by = "id")


Instructions 3/4
0 XP
4
Convert the totals from the Tokyo office from yen to dollars, and keep the total from the New York office in dollars. Store this as a new column called total_usd.


# Scatter plot of opening date and total amount
accounts %>%
  ggplot(aes(x = date_opened, y = total)) +
  geom_point()

# Left join accounts to account_offices by id
accounts %>%
  left_join(account_offices, by = "id") %>%
  # Convert totals from the Tokyo office to USD
  mutate(total_usd = ifelse(office == "Tokyo", total / 104, total))

Instructions 4/4
30 XP
4
Create a scatter plot of your new uniform data using date_opened on the x-axis and total_usd on the y-axis.

# Scatter plot of opening date and total amount
accounts %>%
  ggplot(aes(x = date_opened, y = total)) +
  geom_point()

# Left join accounts to account_offices by id
accounts %>%
  left_join(account_offices, by = "id") %>%
  # Convert totals from the Tokyo office to USD
  mutate(total_usd = ifelse(office == "Tokyo", total / 104, total)) %>%
  # Scatter plot of opening date vs total_usd
  ggplot(aes(x = date_opened, y = total_usd)) +
    geom_point()

In [ ]:
Instructions
100 XP
Create a new column called theoretical_total that contains the sum of the amounts in each fund.
Find the accounts where the total doesn't match the theoretical_total.

# Find invalid totals
accounts %>%
  # theoretical_total: sum of the three funds
  mutate(theoretical_total = fund_A + fund_B + fund_C) %>%
  # Find accounts where total doesn't match theoretical_total
  filter(theoretical_total != total)

In [ ]:
Instructions
100 XP
Create a new column called theoretical_age that contains the age of each account based on the date_opened.
Find the accounts where the acct_age doesn't match the theoretical_age.


# Find invalid acct_age
accounts %>%
  # theoretical_age: age of acct based on date_opened
  mutate(theoretical_age = floor(as.numeric(date_opened %--% today(), "years"))) %>%
  # Filter for rows where acct_age is different from theoretical_age
  filter(acct_age != theoretical_age)

In [ ]:
Instructions
100 XP
Create a new column called theoretical_age that contains the age of each account based on the date_opened.
Find the accounts where the acct_age doesn't match the theoretical_age.

# Find invalid acct_age
accounts %>%
  # theoretical_age: age of acct based on date_opened
  mutate(theoretical_age = floor(as.numeric(date_opened %--% today(), "years"))) %>%
  # Filter for rows where acct_age is different from theoretical_age
  filter(acct_age != theoretical_age)

In [ ]:
Instructions 1/4
25 XP
1
2
3
4
Visualize the missing values in accounts by column using a function from the visdat package.

# Visualize the missing values by column
vis_miss(accounts)


Instructions 2/4
25 XP
2
3
4
Add a logical column to accounts called missing_inv that indicates whether each row is missing the inv_amount or not.
Group by missing_inv.
Calculate the mean age for each group of missing_inv.

# Visualize the missing values by column
vis_miss(accounts)

accounts %>%
  # missing_inv: Is inv_amount missing?
  mutate(missing_inv = is.na(inv_amount)) %>%
  # Group by missing_inv
  group_by(missing_inv) %>%
  # Calculate mean age for each missing_inv group
  summarize(avg_age = mean(age))


Instructions 4/4
25 XP
4
Sort accounts by age.
Visualize missing data by column.

# Visualize the missing values by column
vis_miss(accounts)

accounts %>%
  # missing_inv: Is inv_amount missing?
  mutate(missing_inv = is.na(inv_amount)) %>%
  # Group by missing_inv
  group_by(missing_inv) %>%
  # Calculate mean age for each missing_inv group
  summarize(avg_age = mean(age))

# Sort by age and visualize missing vals
accounts %>%
  arrange(age) %>%
  vis_miss()

In [ ]:
Instructions 1/4
25 XP
1
2
3
4
Filter accounts to remove rows with missing cust_ids and save as accounts_clean.


# Create accounts_clean
accounts_clean <- accounts %>%
  # Filter to remove rows with missing cust_id
  filter(!is.na(cust_id))

accounts_clean

Instructions 2/4
25 XP
2
3
4
Create a new column called acct_amount_filled, which contains the values of acct_amount, except all NA values should be replaced with 5 times the amount in inv_amount.

# Create accounts_clean
accounts_clean <- accounts %>%
  # Filter to remove rows with missing cust_id
  filter(!is.na(cust_id)) %>%
  # Add new col acct_amount_filled with replaced NAs
  mutate(acct_amount_filled = ifelse(is.na(acct_amount), inv_amount * 5, acct_amount))

accounts_clean


Instructions 3/4
25 XP
3
4
Assert that there are no missing values in the cust_id column of accounts_clean.

# Create accounts_clean
accounts_clean <- accounts %>%
  # Filter to remove rows with missing cust_id
  filter(!is.na(cust_id)) %>%
  # Add new col acct_amount_filled with replaced NAs
  mutate(acct_amount_filled = ifelse(is.na(acct_amount), inv_amount * 5, acct_amount))

# Assert that cust_id has no missing vals
assert_all_are_not_na(accounts_clean$cust_id)

Instructions 4/4
25 XP
4
Assert that there are no missing values in the acct_amount_filled column of accounts_clean.

# Create accounts_clean
accounts_clean <- accounts %>%
  # Filter to remove rows with missing cust_id
  filter(!is.na(cust_id)) %>%
  # Add new col acct_amount_filled with replaced NAs
  mutate(acct_amount_filled = ifelse(is.na(acct_amount), inv_amount * 5, acct_amount))

# Assert that cust_id has no missing vals
assert_all_are_not_na(accounts_clean$cust_id)

# Assert that acct_amount_filled has no missing vals
assert_all_are_not_na(accounts_clean$acct_amount_filled)

# **4**

In [ ]:
Instructions 1/4
25 XP
1
2
3
4
Calculate the Damerau-Levenshtein distance between "las angelos" and "los angeles".

# Calculate Damerau-Levenshtein distance
stringdist("las angelos", "los angeles", method = "dl")

Instructions 2/4
25 XP
2
3
4
Calculate the Longest Common Substring (LCS) distance between "las angelos" and "los angeles".

# Calculate LCS distance
stringdist("las angelos", "los angeles", method = "lcs")


Instructions 3/4
18 XP
4
Calculate the Jaccard distance between "las angelos" and "los angeles".
# Calculate Jaccard distance
stringdist("las angelos", "las angeles", method = "jaccard")

In [ ]:
Instructions 1/2
50 XP
1
2
Count the number of each variation of city name in zagat.

# Count the number of each city variation
zagat %>%
  count(city)


Instructions 2/2
50 XP
2
Left join zagat and cities based on string distance using the city and city_actual columns.
Select the name, city, and city_actual columns.


# Count the number of each city variation
zagat %>%
  count(city)


Instructions 2/2
50 XP
2
Left join zagat and cities based on string distance using the city and city_actual columns.
Select the name, city, and city_actual columns.

# Count the number of each city variation
zagat %>%
  count(city)

# Join and look at results
zagat %>%
  # Left join based on stringdist using city and city_actual cols
  stringdist_left_join(cities, by = c("city" = "city_actual")) %>%
  # Select the name, city, and city_actual cols
  select(name, city, city_actual)

In [ ]:
Instructions 1/2
50 XP
1
Load the reclin package.
Generate all possible pairs of records between the zagat and fodors datasets.

# Load reclin
library(reclin)

# Generate all possible pairs
pair_blocking(zagat, fodors)


Use pair blocking to generate only pairs that have matching values in the city column.

# Load reclin
library(reclin)

# Generate pairs with same city
pair_blocking(zagat, fodors, blocking_var = "city")

In [ ]:
Instructions 1/2
50 XP
1
Compare pairs by name using lcs() distance.

# Generate pairs
pair_blocking(zagat, fodors, blocking_var = "city") %>%
  # Compare pairs by name using lcs()
  compare_pairs(by = "name",
                default_comparator = lcs())
  
Compare pairs by name, phone, and addr using jaro_winkler().

# Generate pairs
pair_blocking(zagat, fodors, blocking_var = "city") %>%
  # Compare pairs by name, phone, addr
  compare_pairs(by = c("name", "phone", "addr"),
                default_comparator = jaro_winkler())

In [ ]:
Instructions 1/3
35 XP
1
2
3
Score the pairs of records probabilistically.

# Create pairs
pair_blocking(zagat, fodors, blocking_var = "city") %>%
  # Compare pairs
  compare_pairs(by = "name", default_comparator = jaro_winkler()) %>%
  # Score pairs
  score_problink()


Instructions 2/3
35 XP
2
3
Select the pairs that are considered matches.

# Create pairs
pair_blocking(zagat, fodors, blocking_var = "city") %>%
  # Compare pairs
  compare_pairs(by = "name", default_comparator = jaro_winkler()) %>%
  # Score pairs
  score_problink() %>%
  # Select pairs
  select_n_to_m()


Instructions 3/3
30 XP
3
Link the two data frames together.

# Create pairs
pair_blocking(zagat, fodors, blocking_var = "city") %>%
  # Compare pairs
  compare_pairs(by = "name", default_comparator = jaro_winkler()) %>%
  # Score pairs
  score_problink() %>%
  # Select pairs
  select_n_to_m() %>%
  # Link data 
  link