<a href="https://colab.research.google.com/github/lia07/DataCamp/blob/main/Data_Manipulation_with_dplyr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Manipulation with dplyr     NÂº4

In [ ]:
Instructions
100 XP
Select the columns listed from the counties variable.


counties %>%
  # Select the columns 
  select(state, county, population, poverty)

In [ ]:
Instructions
100 XP
Add a verb to sort the observations of the public_work variable in descending order.


counties_selected <- counties %>%
  select(state, county, population, private_work, public_work, self_employed)

counties_selected %>%
  # Add a verb to sort in descending order of public_work
  arrange(desc(public_work))

In [ ]:
Instructions 1/2
50 XP
1
Find only the counties that have a population above one million (1000000).

counties_selected <- counties %>%
  select(state, county, population)

counties_selected %>%
  # Filter for counties with a population above 1000000
  filter(population > 1000000)

In [ ]:
Instructions 2/2
50 XP
Find only the counties that have a population above one million (1000000).
2 Find only the counties in the state of California that also have a population above one million (1000000).


counties_selected <- counties %>%
  select(state, county, population)

counties_selected %>%
  # Filter for counties with a population above 1000000
  filter(state == "California",
         population > 1000000)

In [ ]:
Instructions
100 XP
Filter for counties in the state of Texas that have more than ten thousand people (10000), and sort them in descending order of the percentage of people employed in private work.


counties_selected <- counties %>%
  select(state, county, population, private_work, public_work, self_employed)

counties_selected %>%
  # Filter for Texas and more than 10000 people
  filter(state == "Texas",
         population > 10000) %>%
  # Sort in descending order of private_work
  arrange(desc(private_work))

In [ ]:
Instructions 1/2
50 XP
1
2
Use mutate() to add a column called public_workers to the dataset, with the number of people employed in public (government) work.


counties_selected <- counties %>%
  select(state, county, population, public_work)

counties_selected %>%
  # Add a new column public_workers with the number of people employed in public work
  mutate(public_workers = public_work * population / 100)




Instructions 2/2
50 XP
2
Sort the new column in descending order.

counties_selected <- counties %>%
  select(state, county, population, public_work)

counties_selected %>%
  mutate(public_workers = public_work * population / 100) %>%
  # Sort in descending order of the public_workers column
  arrange(desc(public_workers))

In [ ]:
Instructions
100 XP
Select the columns state, county, population, men, and women.
Add a new variable called proportion_women with the fraction of the county's population made up of women.


counties_selected <- counties %>%
  # Select the columns state, county, population, men, and women
  select(state, county, population, men, women)

counties_selected %>%
  # Calculate proportion_women as the fraction of the population made up of women
  mutate(proportion_women = women / population)

In [ ]:
Instructions
100 XP
Select only the columns state, county, population, men, and women.
Add a variable proportion_men with the fraction of the county's population made up of men.
Filter for counties with a population of at least ten thousand (10000).
Arrange counties in descending order of their proportion of men.


counties %>%
  # Select the five columns 
  select(state, county, population, men, women) %>%
  # Add the proportion_men variable
  mutate(proportion_men = men / population) %>%
  # Filter for population of at least 10,000
  filter(population >= 10000) %>% 
  # Arrange proportion of men in descending order 
  arrange(desc(proportion_men))

2

In [ ]:
Instructions
100 XP
Use count() to find the number of counties in each region, using a second argument to sort in descending order.


# Use count to find the number of counties in each region
counties_selected %>%
  count(region, sort = TRUE)

In [ ]:
Instructions
100 XP
Count the number of counties in each state, weighted based on the citizens column, and sorted in descending order.


# Find number of counties per state, weighted by citizens, sorted in descending order
counties_selected %>%
  count(state, wt = citizens, sort = TRUE)

In [ ]:
Instructions
100 XP
Use mutate() to calculate and add a column called population_walk, containing the total number of people who walk to work in a county.
Use a (weighted and sorted) count() to find the total number of people who walk to work in each state.


counties_selected %>%
  # Add population_walk containing the total number of people who walk to work 
  mutate(population_walk = population * walk / 100) %>%
  # Count weighted by the new column, sort in descending order
  count(state, wt = population_walk, sort = TRUE)

In [ ]:
Instructions
100 XP
Summarize the counties dataset to find the following columns: min_population (with the smallest population), max_unemployment (with the maximum unemployment), and average_income (with the mean of the income variable).


counties_selected %>%
  # Summarize to find minimum population, maximum unemployment, and average income
  summarize(min_population = min(population),
            max_unemployment = max(unemployment),
            average_income = mean(income))

In [ ]:
Instructions 1/2
50 XP
1
2
Group the data by state, and summarize to create the columns total_area (with total area in square miles) and total_population (with total population).

counties_selected %>%
  # Group by state
  group_by(state) %>%
  # Find the total area and population
  summarize(total_area = sum(land_area),
            total_population = sum(population))


Instructions 2/2
50 XP
2
Add a density column with the people per square mile, then arrange in descending order.

counties_selected %>%
  group_by(state) %>%
  summarize(total_area = sum(land_area),
            total_population = sum(population)) %>%
  # Add a density column
  mutate(density = total_population / total_area) %>%
  # Sort by density in descending order
  arrange(desc(density))

In [ ]:
Instructions 1/2
50 XP
1
2
Summarize to find the total population, as a column called total_pop, in each combination of region and state.


counties_selected %>%
  # Group and summarize to find the total population
  group_by(region, state) %>%
  summarize(total_pop = sum(population))

Instructions 2/2
50 XP
2
Notice the tibble is still grouped by region; use another summarize() step to calculate two new columns: the average state population in each region (average_pop) and the median state population in each region (median_pop).

counties_selected %>%
  # Group and summarize to find the total population
  group_by(region, state) %>%
  summarize(total_pop = sum(population)) %>%
  # Calculate the average_pop and median_pop columns 
  summarize(average_pop = mean(total_pop),
            median_pop = median(total_pop))

In [ ]:
Instructions
100 XP
Find the county in each region with the highest percentage of citizens who walk to work.


counties_selected %>%
  # Group by region
  group_by(region) %>%
  # Find the greatest number of citizens who walk to work
  top_n(1, walk)

In [ ]:
Instructions
100 XP
Find the county in each region with the highest percentage of citizens who walk to work.

counties_selected %>%
  # Group by region
  group_by(region) %>%
  # Find the greatest number of citizens who walk to work
  top_n(1, walk)

In [ ]:
Instructions
100 XP
Calculate the average income (as average_income) of counties within each region and state (notice the group_by() has already been done for you).
Find the highest income state in each region.

counties_selected %>%
  group_by(region, state) %>%
  # Calculate average income
  summarize(average_income = mean(income)) %>%
  # Find the highest income state in each region
  top_n(1, average_income)

In [ ]:
Instructions 1/3
35 XP
1
For each combination of state and metro, find the total population as total_pop.

counties_selected %>%
  # Find the total population for each combination of state and metro
  group_by(state, metro) %>%
  summarize(total_pop = sum(population))


  Instructions 1/3
0 XP
For each combination of state and metro, find the total population as total_pop.


counties_selected %>%
  # Find the total population for each combination of state and metro
  group_by(state, metro) %>%
  summarize(total_pop = sum(population))


Instructions 2/3
35 XP
For each combination of state and metro, find the total population as total_pop.

2
Extract the most populated row from each state, which will be either Metro or Nonmetro.


counties_selected %>%
  # Find the total population for each combination of state and metro
  group_by(state, metro) %>%
  summarize(total_pop = sum(population)) %>%
  # Extract the most populated row for each state
  top_n(1, total_pop)


  Ungroup, then count how often Metro or Nonmetro appears to see how many states have more people living in those areas.

  counties_selected %>%
  # Find the total population for each combination of state and metro
  group_by(state, metro) %>%
  summarize(total_pop = sum(population)) %>%
  # Extract the most populated row for each state
  top_n(1, total_pop) %>%
  # Count the states with more people in Metro or Nonmetro areas
  ungroup() %>% 
  count(metro)

In [ ]:
Instructions
100 XP
Use glimpse() to examine all the variables in the counties table.
Select the columns for state, county, population, and (using a colon) all five of those industry-related variables; there are five consecutive variables in the table related to the industry of people's work: professional, service, office, construction, and production.
Arrange the table in descending order of service to find which counties have the highest rates of working in the service industry.


# Glimpse the counties table
glimpse(counties)

counties %>%
  # Select state, county, population, and industry-related columns
  select(state, county, population, professional:production) %>%
  # Arrange service in descending order 
  arrange(desc(service))

In [ ]:
Instructions
100 XP
Select the columns state, county, population, and all those that end with work.
Filter just for the counties where at least 50% of the population is engaged in public work.

counties %>%
  # Select the state, county, population, and those ending with "work"
  select(state, county, population, ends_with("work")) %>%
  # Filter for counties that have at least 50% of people engaged in public work
  filter(public_work >= 50)

In [ ]:
Instructions 1/2
50 XP
1
2
Use count() to determine how many counties are in each state.

counties %>%
  # Count the number of counties in each state
  count(state) 


  Instructions 2/2
50 XP
2
Notice the n column in the output; use rename() to rename that to num_counties.

counties %>%
  # Count the number of counties in each state
  count(state) %>%
  # Rename the n column to num_co

In [ ]:
Instructions
100 XP
Select the columns state, county, and poverty from the counties dataset; in the same step, rename the poverty column to poverty_rate.


counties %>%
  # Select state, county, and poverty as poverty_rate
  select(state, county, poverty_rate = poverty)

In [ ]:
Instructions
100 XP
Keep only the state, county, and population columns, and add a new column, density, that contains the population per land_area.
Filter for only counties with a population greater than one million.
Sort the table in ascending order of density.


counties %>%
  # Keep the state, county, and populations columns, and add a density column
  transmute(state, county, population, density = population / land_area) %>%
  # Filter for counties with a population greater than one million 
  filter(population > 1000000) %>%
  # Sort density in ascending order 
  arrange(density)

In [ ]:
Instructions
100 XP
Choose the right verb for changing the name of the unemployment column to unemployment_rate
Choose the right verb for keeping only the columns state, county, and the ones containing poverty.
Calculate a new column called fraction_women with the fraction of the population made up of women, without dropping any columns.
Keep only three columns: the state, county, and employed / population, which you'll call employment_rate.


# Change the name of the unemployment column
counties %>%
  rename(unemployment_rate = unemployment)

# Keep the state and county columns, and the columns containing poverty
counties %>%
  select(state, county, contains("poverty"))

# Calculate the fraction_women column without dropping the other columns
counties %>%
  mutate(fraction_women = women / population)

# Keep only the state, county, and employment_rate columns
counties %>%
  transmute(state, county, employment_rate = employed / population)

4

In [ ]:
Instructions
100 XP
Filter for only the year 1990.
Sort the table in descending order of the number of babies born.

babynames %>%
  # Filter for the year 1990
  filter(year == 1990) %>%
  # Sort the number column in descending order 
  arrange(desc(number))

In [ ]:
Instructions
100 XP
Use group_by() and top_n() to find the most common name for US babies in each ye


babynames %>%
  # Find the most common name in each year
  group_by(year) %>%
  top_n(1, number)

In [ ]:
Instructions 1/2
50 XP
1
2
Filter for only the names Steven, Thomas, and Matthew, and assign it to an object called selected_names.

selected_names <- babynames %>%
  # Filter for the names Steven, Thomas, and Matthew 
  filter(name %in% c("Steven", "Thomas", "Matthew"))


  Instructions 2/2
50 XP
2
Visualize those three names as a line plot over time, with each name represented by a different color.


selected_names <- babynames %>%
  # Filter for the names Steven, Thomas, and Matthew 
  filter(name %in% c("Steven", "Thomas", "Matthew"))

# Plot the names using a different color for each name
ggplot(selected_names, aes(x = year, y = number, color = name)) +
  geom_line()

In [ ]:
Instructions 1/2
50 XP
1
2
First, calculate the total number of people born in that year in this dataset as year_total.
Next, use year_total to calculate the fraction of people born in each year that have each name.


# Calculate the fraction of people born each year with the same name
babynames %>%
  group_by(year) %>%
  mutate(year_total = sum(number)) %>%
  ungroup() %>%
  mutate(fraction = number / year_total)


Instructions 2/2
50 XP
2
Now use your newly calculated fraction column, in combination with top_n(), to identify the year each name is most common.

# Calculate the fraction of people born each year with the same name
babynames %>%
  group_by(year) %>%
  mutate(year_total = sum(number)) %>%
  ungroup() %>%
  mutate(fraction = number / year_total) %>%
  # Find the year each name is most common
  group_by(name) %>%
  top_n(1, fraction)

In [ ]:
Instructions 1/2
50 XP
1
2
Use a grouped mutate to add two columns:
name_total, with the sum of the number of babies born with that name in the entire dataset.
name_max, with the maximum number of babies born in any year.

babynames %>%
  # Add columns name_total and name_max for each name
  group_by(name) %>%
  mutate(name_total = sum(number),
         name_max = max(number))
  
Instructions 2/2
50 XP
2
Add another step to ungroup the table.
Add a column called fraction_max containing the number in the year divided by name_max.

Take Hint (-15 XP)

babynames %>%
  # Add columns name_total and name_max for each name
  group_by(name) %>%
  mutate(name_total = sum(number),
         name_max = max(number)) %>%
  # Ungroup the table 
  ungroup() %>%
  # Add the fraction_max column containing the number by the name maximum 
  mutate(fraction_max = number / name_max)

In [ ]:
Instructions
100 XP
Filter the names_normalized table to limit it to the three names Steven, Thomas, and Matthew.
Create a line plot to visualize fraction_max over time, colored by name.


names_filtered <- names_normalized %>%
  # Filter for the names Steven, Thomas, and Matthew
  filter(name %in% c("Steven", "Thomas", "Matthew"))

# Visualize these names over time
ggplot(names_filtered, aes(x = year, y = fraction_max, color = name)) +
  geom_line()

In [ ]:
Instructions
100 XP
Arrange the data in ascending order of name and then year.
Group by name so that your mutate works within each name.
Add a column ratio containing the ratio (not difference) of fraction between each year.


babynames_fraction %>%
  # Arrange the data in order of name, then year 
  arrange(name, year) %>%
  # Group the data by name
  group_by(name) %>%
  # Add a ratio column that contains the ratio of fraction between each year 
  mutate(ratio = fraction / lag(fraction))

In [ ]:
Instructions
100 XP
From each name in the data, keep the observation (the year) with the largest ratio; note the data is already grouped by name.
Sort the ratio column in descending order.
Filter the babynames_ratios_filtered data further by filtering the fraction column to only display results greater than or equal to 0.001.

babynames_ratios_filtered %>%
  # Extract the largest ratio from each name 
  top_n(1, ratio) %>%
  # Sort the ratio column in descending order 
  arrange(desc(ratio)) %>%
  # Filter for fractions greater than or equal to 0.001
  filter(fraction >= 0.001)