<a href="https://colab.research.google.com/github/lia07/DataCamp/blob/main/Joining_Data_With_dplyr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

JOINING DATA WITH DPLYR

1

In [ ]:
Instructions 1/2
50 XP
1
2
Add the correct joining verb, the name of the second table, and the joining column for the second table.

# Add the correct verb, table, and joining column
parts %>% 
	inner_join(part_categories, by = c("part_cat_id" = "id"))
 

Instructions 2/2
50 XP
2
Now, use the suffix argument to add "_part" and "_category" suffixes to replace the name.x and name.y fields.

# Use the suffix argument to replace .x and .y suffixes
parts %>% 
	inner_join(part_categories, by = c("part_cat_id" = "id"), suffix = c("_part", "_category"))

In [ ]:
Instructions
100 XP
Connect the parts and inventory_parts tables by their part numbers using an inner join.


# Combine the parts and inventory_parts tables
parts %>%
	inner_join(inventory_parts, by = "part_num")

In [ ]:
Instructions
100 XP
Connect the inventory_parts table with the parts tables.

# Combine the parts and inventory_parts tables
inventory_parts %>%
	inner_join(parts, by = "part_num")

In [ ]:
Instructions
100 XP
Combine the inventories table with the sets table.
Next, join the inventory_parts table to the table you created in the previous join by the inventory IDs.

sets %>%
	# Add inventories using an inner join 
	inner_join(inventories, by = "set_num") %>%
	# Add inventory_parts using an inner join 
	inner_join(inventory_parts, by = c("id" = "inventory_id"))

In [ ]:
Instructions 1/2
50 XP
1
2
Inner join the colors table using the color_id column from the previous join and the id column from colors; use the suffixes "_set" and "_color".

# Add an inner join for the colors table
sets %>%
	inner_join(inventories, by = "set_num") %>%
	inner_join(inventory_parts, by = c("id" = "inventory_id")) %>%
	inner_join(colors, by = c("color_id" = "id"), suffix = c("_set", "_color"))
 

Instructions 2/2
50 XP
2
Count the name_color column and sort the results so the most prominent colors appear first.

# Count the number of colors and sort
sets %>%
	inner_join(inventories, by = "set_num") %>%
	inner_join(inventory_parts, by = c("id" = "inventory_id")) %>%
	inner_join(colors, by = c("color_id" = "id"), suffix = c("_set", "_color")) %>%
	count(name_color, sort = TRUE)

2

In [ ]:
Instructions
100 XP
Left join the star_destroyer and millennium_falcon tables on the part_num and color_id columns with the suffixes _falcon and _star_destroyer.

# Combine the star_destroyer and millennium_falcon tables
millennium_falcon %>%
  left_join(star_destroyer, by = c("part_num", "color_id"), suffix = c("_falcon", "_star_destroyer"))

In [ ]:
Instructions 1/3
35 XP
1
2
3
Sum the quantity column by color_id in the Millennium Falcon dataset.


# Aggregate Millennium Falcon for the total quantity in each part
millennium_falcon_colors <- millennium_falcon %>%
  group_by(color_id) %>%

Instructions 2/3
35 XP
2
3
Now, sum the quantity column by color_id in the Star Destroyer dataset.

# Aggregate Millennium Falcon for the total quantity in each part
millennium_falcon_colors <- millennium_falcon %>%
  group_by(color_id) %>%
  summarize(total_quantity = sum(quantity))

# Aggregate Star Destroyer for the total quantity in each part
star_destroyer_colors <- star_destroyer %>%
  group_by(color_id) %>%
  summarize(total_quantity = sum(quantity))


Instructions 3/3
30 XP
3
Left join the two datasets, millennium_falcon_colors and star_destroyer_colors, using the color_id column and the _falcon and _star_destroyer suffixes.

# Aggregate Millennium Falcon for the total quantity in each part
millennium_falcon_colors <- millennium_falcon %>%
  group_by(color_id) %>%
  summarize(total_quantity = sum(quantity))

# Aggregate Star Destroyer for the total quantity in each part
star_destroyer_colors <- star_destroyer %>%
  group_by(color_id) %>%
  summarize(total_quantity = sum(quantity))

# Left join the Millennium Falcon colors to the Star Destroyer colors
millennium_falcon_colors %>%
  left_join(star_destroyer_colors, by = "color_id", suffix = c("_falcon", "_star_destroyer"))

In [ ]:
Instructions
100 XP
Use a left_join to join together sets and inventory_version_1 using their common column.
filter for where the version column is NA using is.na.

inventory_version_1 <- inventories %>%
	filter(version == 1)

# Join versions to sets
sets %>%
  left_join(inventory_version_1, by = "set_num") %>%
  # Filter for where version is na
  filter(is.na(version))

In [ ]:
Instructions 1/2
50 XP
1
2
Use the count verb to count each part_cat_id in the parts table.
Use a right_join to join part_categories. You'll need to use the part_cat_id from the count and the id column from part_categories.

parts %>%
	# Count the part_cat_id
	count(part_cat_id) %>%
	# Right join part_categories
	right_join(part_categories, by = c("part_cat_id" = "id"))
 

 Instructions 2/2
50 XP
2
filter for where the column n is NA.

parts %>%
	count(part_cat_id) %>%
	right_join(part_categories, by = c("part_cat_id" = "id")) %>%
	# Filter for NA
		filter(is.na(n))

In [ ]:
Instructions
100 XP
Use replace_na to replace NAs in the n column with the value 0.

parts %>%
	count(part_cat_id) %>%
	right_join(part_categories, by = c("part_cat_id" = "id")) %>%
	# Use replace_na to replace missing values in the n column
	replace_na(list(n = 0))

In [ ]:
Instructions
100 XP
Inner join themes to their own children, resulting in the suffixes "_parent" and "_child", respectively.
Filter this table to find the children of the "Harry Potter" theme.

themes %>% 
	# Inner join the themes table
	inner_join(themes, by = c("id" = "parent_id"), suffix = c("_parent", "_child")) %>% 
	# Filter for the "Harry Potter" parent name 
	filter(name_parent == "Harry Potter")

In [ ]:
Instructions
100 XP
Use another inner join to combine themes again with itself.
Be sure to use the suffixes "_parent" and "_grandchild" so the columns in the resulting table are clear.
Update the by argument to specify the correct columns to join on. If you're unsure of what columns to join on, it might help to look at the result of the first join to get a feel for it.

# Join themes to itself again to find the grandchild relationships
themes %>% 
  inner_join(themes, by = c("id" = "parent_id"), suffix = c("_parent", "_child")) %>%
  inner_join(themes, by = c("id_child" = "parent_id"), suffix = c("_parent", "_grandchild"))

In [ ]:
Instructions
100 XP
Left join the themes table to its own children, with the suffixes _parent and _child respectively.
Filter the result of the join to find themes that have no children.

themes %>% 
  # Left join the themes table to its own children
  left_join(themes, by = c("id" = "parent_id"), suffix = c("_parent", "_child")) %>%
  # Filter for themes that have no child themes
  filter(is.na(name_child))

3

In [ ]:
Instructions
100 XP
In order to join in the themes, you'll first need to combine the inventory_parts_joined and sets tables.
Then, combine the first join with the themes table, using the suffix argument to clarify which table each name came from ("_set" or "_theme").

# Start with inventory_parts_joined table
inventory_parts_joined %>%
  # Combine with the sets table 
  inner_join(sets, by = "set_num") %>%
  # Combine with the themes table
  inner_join(themes, by = c("theme_id" = "id"), suffix = c("_set", "_theme"))

In [ ]:
Instructions
100 XP
Count the part number and color id for the parts in Batman and Star Wars, weighted by quantity.

# Count the part number and color id, weight by quantity
batman %>%
  count(part_num, color_id, wt = quantity)
star_wars %>%
  count(part_num, color_id, wt = quantity)

In [ ]:
Instructions
100 XP
Combine the star_wars_parts table with the batman_parts table; use the suffix argument to include the "_batman" and "_star_wars" suffixes.
Replace all the NA values in the n_batman and n_star_wars columns with 0s.

batman_parts %>%
  # Combine the star_wars_parts table 
  full_join(star_wars_parts, by = c("part_num", "color_id"), suffix = c("_batman", "_star_wars")) %>%
  # Replace NAs with 0s in the n_batman and n_star_wars columns 
  replace_na(list(n_batman = 0, n_star_wars = 0))

In [ ]:
Instructions
100 XP
Sort the number of star wars pieces in the parts_joined table in descending order.
Inner join the colors table to the parts_joined table.
Combine the parts table to the previous join using an inner join; add "_color" and "_part" suffixes to specify whether or not the information came from the colors table or the parts table.

parts_joined %>%
  # Sort the number of star wars pieces in descending order 
  arrange(desc(n_star_wars)) %>%
  # Join the colors table to the parts_joined table
  inner_join(colors, by = c("color_id" = "id")) %>%
  # Join the parts table to the previous join 
  inner_join(parts, by = "part_num", suffix = c("_color", "_part"))

In [ ]:
Instructions
100 XP
Filter the batwing set for parts that are also in the batmobile, whether or not they have the same color.
Filter the batwing set for parts that aren't also in the batmobile, whether or not they have the same color.

# Filter the batwing set for parts that are also in the batmobile set
batwing %>%
  semi_join(batmobile, by = c("part_num"))

# Filter the batwing set for parts that aren't in the batmobile set
batwing %>%
  anti_join(batmobile, by = c("part_num"))

In [ ]:
Instructions
100 XP
Use the inventory_parts table to find the colors that are included in at least one set.

# Use inventory_parts to find colors included in at least one set
colors %>%
  semi_join(inventory_parts, by = c("id" = "color_id"))

In [ ]:
Instructions
100 XP
Use filter() to extract version 1 from the inventories table; save the filter to version_1_inventories.
Use anti_join to combine version_1_inventories with sets to determine which set is missing a version 1.

# Use filter() to extract version 1 
version_1_inventories <- inventories %>%
  filter(version == 1)

# Use anti_join() to find which set is missing a version 1
sets %>%
  anti_join(version_1_inventories, by = "set_num")

In [ ]:
Instructions
100 XP
Add a filter for the "Batman" set to create the batman_colors object.
Add a fraction column to batman_colors that displays the total divided by the sum of the total.
Repeat the steps to filter and aggregate the "Star Wars" set data to create the star_wars_colors object.
Add a fraction column to star_wars_colors to display the fraction of the total.


batman_colors <- inventory_parts_themes %>%
  # Filter the inventory_parts_themes table for the Batman theme
  filter(name_theme == "Batman") %>%
  group_by(color_id) %>%
  summarize(total = sum(quantity)) %>%
  # Add a fraction column of the total divided by the sum of the total 
  mutate(fraction = total / sum(total))

# Filter and aggregate the Star Wars set data; add a fraction column
star_wars_colors <- inventory_parts_themes %>%
  filter(name_theme == "Star Wars") %>%
  group_by(color_id) %>%
  summarize(total = sum(quantity)) %>%
  mutate(fraction = total / sum(total))

In [ ]:
Instructions 1/2
50 XP
1
2
Join the batman_colors and star_wars_colors tables; be sure to include all observations from both tables.
Replace the NAs in the total_batman and total_star_wars columns.

batman_colors %>%
  # Join the Batman and Star Wars colors
  full_join(star_wars_colors, by = "color_id", suffix = c("_batman", "_star_wars")) %>%
  # Replace NAs in the total_batman and total_star_wars columns
  replace_na(list(total_batman = 0, total_star_wars = 0)) %>%
  inner_join(colors, by = c("color_id" = "id"))


Instructions 2/2
50 XP
2
Add a difference column which is the difference between fraction_batman and fraction_star_wars, and a total column, which is the sum of total_batman and total_star_wars.
Add a filter to select observations where total is at least 200.

batman_colors %>%
  full_join(star_wars_colors, by = "color_id", suffix = c("_batman", "_star_wars")) %>%
  replace_na(list(total_batman = 0, total_star_wars = 0)) %>%
  inner_join(colors, by = c("color_id" = "id")) %>%
  # Create the difference and total columns
  mutate(difference = fraction_batman - fraction_star_wars,
         total = total_batman + total_star_wars) %>%
  # Filter for totals greater than 200
  filter(total >= 200)

In [ ]:
Instructions
100 XP
Create a bar plot using the colors_joined table to display the most prominent colors in the Batman and Star Wars themes, with the bars colored by their name.

# Create a bar plot using colors_joined and the name and difference columns
ggplot(colors_joined, aes(name, difference, fill = name)) +
  geom_col() +
  coord_flip() +
  scale_fill_manual(values = color_palette, guide = FALSE) +
  labs(y = "Difference: Batman - Star Wars")

4

In [ ]:
Instructions 1/3
35 XP
1
2
3
Join together questions and question_tags using the id and question_id columns, respectively.


# Join the questions and question_tags tables
questions %>%
	left_join(question_tags, by = c("id" = "question_id"))
 

Instructions 2/3
35 XP
2
3
Use another join to add in the tags table.

# Join in the tags table
questions %>%
	left_join(question_tags, by = c("id" = "question_id")) %>%
	left_join(tags, by = c("tag_id" = "id"))
 
Instructions 3/3
30 XP
3
Use replace_na to change the NAs in the tag_name column to "only-r".

# Replace the NAs in the tag_name column
questions %>%
  left_join(question_tags, by = c("id" = "question_id")) %>%
  left_join(tags, by = c("tag_id" = "id")) %>%
  replace_na(list(tag_name = "only-r"))

In [ ]:
Instructions
100 XP
Aggregate by the tag_name.
Summarize to get the mean score for each question, score, as well as the total number of questions, num_questions.
Arrange num_questions in descending order to sort the answers by the most asked questions.

questions_with_tags %>%
	# Group by tag_name
	group_by(tag_name) %>%
	# Get mean score and num_questions
	summarize(score = mean(score),
          	  num_questions = n()) %>%
	# Sort num_questions in descending order
	arrange(desc(num_questions))

In [ ]:
Instructions
100 XP
Use a join to determine which tags never appear on an R question.

# Using a join, filter for tags that are never on an R question
tags %>%
  anti_join(question_tags, by = c("id" = "tag_id"))

In [ ]:
Instructions
100 XP
Use an inner join to combine the questions and answers tables using the suffixes "_question" and "_answer", respectively.
Subtract creation_date_question from creation_date_answer within the as.integer() function to create the gap column.

questions %>%
	# Inner join questions and answers with proper suffixes
	inner_join(answers, by = c("id" = "question_id"), suffix = c("_question", "_answer")) %>%
	# Subtract creation_date_question from creation_date_answer to create gap
	mutate(gap = as.integer(creation_date_answer - creation_date_question))

In [ ]:
Instructions
100 XP
Count and sort the question_id column in the answers table to create the answer_counts table.
Join the questions table with the answer_counts table and include all observations from the questions table.
Replace the NA values in the n column with 0s.

# Count and sort the question id column in the answers table
answer_counts <- answers %>%
	count(question_id, sort = TRUE)

# Combine the answer_counts and questions tables
questions %>%
	left_join(answer_counts, by = c("id" = "question_id")) %>%
	# Replace the NAs in the n column
	replace_na(list(n = 0))

In [ ]:
Instructions
100 XP
Combine the question_tags table with question_answer_counts using an inner_join.
Now, use another inner_join to add the tags table.


question_answer_counts %>%
	# Join the question_tags tables
	inner_join(question_tags, by = c("id" = "question_id")) %>%
	# Join the tags table
	inner_join(tags, by = c("tag_id" = "id"))

In [ ]:
Instructions
100 XP
Aggregate the tagged_answers table by tag_name.
Summarize tagged_answers to get the count of questions and the average_answers.
Sort the resulting questions column in descending order.


tagged_answers %>%
	# Aggregate by tag_name
    group_by(tag_name) %>%
	# Summarize questions and average_answers
    summarize(questions = n(),
              average_answers = mean(n)) %>%
	# Sort the questions in descending order
    arrange(desc(questions))

In [ ]:
Instructions
100 XP
Use two inner joins to combine the question_tags and tags tables with the questions table.
Now, use two inner joins to combine the question_tags and tags tables with the answers table.

# Inner join the question_tags and tags tables with the questions table
questions %>%
  inner_join(question_tags, by = c("id" = "question_id")) %>%
  inner_join(tags, by = c("tag_id" = "id"))

# Inner join the question_tags and tags tables with the answers table
answers %>%
  inner_join(question_tags, by = "question_id") %>%
  inner_join(tags, by = c("tag_id" = "id"))

In [ ]:
Instructions
100 XP
Combine the questions_with_tags and answers_with_tags tables into posts_with_tags.
Add a year column to the posts_with_tags table, then count posts by type, year, and tag_name.


# Combine the two tables into posts_with_tags
posts_with_tags <- bind_rows(questions_with_tags %>% mutate(type = "question"),
                              answers_with_tags %>% mutate(type = "answer"))

# Add a year column, then count by type, year, and tag_name
posts_with_tags %>%
  mutate(year = year(creation_date)) %>%
  count(type, year, tag_name)

In [ ]:
Instructions
100 XP
Filter the by_type_year_tag table for the dplyr and ggplot2 tags.
Create a line plot with that filtered table that plots the frequency (n) over time, colored by question/answer and faceted by tag.

# Filter for the dplyr and ggplot2 tag names 
by_type_year_tag_filtered <- by_type_year_tag %>%
  filter(tag_name %in% c("dplyr", "ggplot2"))

# Create a line plot faceted by the tag name 
ggplot(by_type_year_tag_filtered, aes(year, n, color = type)) +
  geom_line() +
  facet_wrap(~ tag_name)